.button {
  @include reset-button;

  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  background-color: var(--color-light);
  border-radius: var(--border-radius); 
  color: var(--color-dark)  ;

  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;

  &-transparent {
    position: relative;
    height: var(--input-heigth);
    padding-left: 31px;
    padding-right: 80px;
    background-color: transparent;
    border: var(--border);
    color: var(--color-light);

    @include hover {
      color: var(--color-dark);
      background-color: var(--color-light-gray);
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      aspect-ratio: 1;
      background: url('./images/icons/bold-arrow-top-right.svg') center/70% no-repeat;
      border: var(--border);
      border-radius: var(--border-radius);
    }
  }  
}