.motivation-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);

  @include tablet {
    padding-block: 50px;
  }

  @include mobile {
    flex-direction: column-reverse;
    row-gap: 30px;
    padding-block: 30px;
  }

  // .motivation-card-body

  &-body {
    padding-left: 35px;
  }
  
  // .motivation-card-title
  
  &-title {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
    
  // .motivation-card-description

  &-description {
    max-width: 400px;

    &:not(:last-child) {
      margin-bottom: 37px;
      
      @include mobile {
        margin-bottom: 20px;
      }
    }
  }
    
  // .motivation-card-button
  
  &-button {
  }

  // .motivation-card-image

  &-image {
    margin-block: -60px;

    @include desktop-big {
      margin-block: -20px;
    }

    @include tablet {
      max-width: 30%;
      height: auto;
      margin-block: 0;
    }

    @include mobile {
      max-width: 60%;
    }
  }
}

