.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.backdrop-title {
  position: relative;
  z-index: 2;

  &::before {
    @include square(26px);

    position: absolute;
    right: calc(100% + 8px);
    content: '';
    display: block;
    background: url('./../images/icons/plus.svg') center/contain no-repeat;
  }

  &::after {
    content: attr(data-title);
    position: absolute;
    z-index: -1;
    top: -0.45em;
    left: -0.6em;
    font-size: 2.8em;
    font-family: var(--font-family-accent);
    color: transparent;
    -webkit-text-stroke: 1px var(--color-light-gray);
    text-stroke: 1px var(--color-light-gray);
  }
}

.title-medium {
  @include fluid-text(40, 20);

  line-height: 1.3;
}